:root {
  --brightly-orange: #ff1e00;
  --dimly-blue: #e8f9fd;
  --alert-highlight-green: #59ce8f;
  --text-header-color: #3B3C3D;
  --text-content-color: #67696B;
}

/* Example usage: */
.alert {
  background-color: var(--alert-highlight-green);
  color: var(--text-content-color);
}

.header {
  color: var(--text-header-color);
}
