@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:200;
    font-style: normal;
  }

:root {
    --brightly-orange: #fd591d;
    --dimly-blue: #e8f9fd;
    --alert-highlight-green: #59ce8f;
    --text-header-color: #3B3C3D;
    --text-content-color: #67696B;
    --header: "Lato", sans-serif; /* Define font family */
    --header-weight:900; /* Define font weight */
    --header-style: normal; /* Define font style */
    --body-text:"Raleway", sans-serif;
    --body-font-weight:200;
    --base-font-size: 100%;

  }

*{
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      text-decoration: none !important;
      font-style: normal;
      font: var(--body-text) var(--body-font-weight);
      color:var(--text-content-color);
      font-weight: var(--body-font-weight);
      list-style: none;
       
  }
  body{
    overflow-x: hidden;
  }

  .header{
    color: var(--text-header-color);
    font: var(--header) var(--header-style) var(--header-weight) ;
  

  }
  div{
   text-align: center;
   border-radius: 10px 10px 0px 0px;
  
  }