@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --brightly-orange: #fd591d;
    --dimly-blue: #e8f9fd;
    --alert-highlight-green: #59ce8f;
    --text-header-color: #3B3C3D;
    --text-content-color: #67696B;
    --header: "Lato", sans-serif; /* Define font family */
    --header-weight:900; /* Define font weight */
    --header-style: normal; /* Define font style */
    --body-text:"Raleway", sans-serif;
    --body-font-weight:200;
    --base-font-size: 100%;
    --green_gradient:"linear-gradient(to top, #59ce8f, #55ded6, #99e7fe, #dcefff, #ffffff);"
  }

*{
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      text-decoration: none !important;
      font-style: normal;
      font: var(--body-text) var(--body-font-weight);
      color:var(--text-content-color);
      font-weight: var(--body-font-weight);
      list-style: none;
      border: #efefef;
  }
  body{
    overflow-x: hidden;
  }

  .header{
    color: var(--text-header-color);
    font: var(--header) var(--header-style) var(--header-weight) ;
  
 
  }

  /* width */
::-webkit-scrollbar {
  width:10px;
  cursor:pointer;
  color: var(--dimly-blue);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color:var(--alert-highlight-green); 
  border-radius:5px;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--brightly-orange)
}
 